@import "src/assets/variables.scss";

.mat-table {
  width: 100%;
  // overflow: auto;
}

mat-cell,
mat-footer-cell,
mat-header-cell {
  flex: none;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-row, mat-footer-row, mat-cell {
  height:30px!important;
  min-height: unset;
}

.mat-table {
  background: transparent;
}

.mat-table mat-cell:first-child {
  padding-left: 0px;
  border-left: 1px solid $faded-border-color;
}

.mat-table mat-cell:last-child {
  padding-right: 0px;
}

.mat-table mat-header-cell:first-child {
  padding-left: 0px;
  border-left: 1px solid $faded-border-color;
}

.mat-table mat-header-cell:last-child {
  padding-right: 0px;
}

.mat-table mat-header-cell, .mat-table mat-cell {
  border-right: 1px solid $faded-border-color;
  border-bottom: 1px solid $faded-border-color;
}


.mat-table,
mat-cell,
mat-header-cell {
  // color: $text-disabled-color;
  color: $text-light-color;
 
  
  span, textarea {
    width:100%!important;
  }

  textarea {
    resize: none;
    // height:-webkit-fill-available;
    height:100%;
    background-color: $dark-bg-color;
    color: $text-light-color;

    &:focus {
      outline: none !important;
      border:1px solid $accent-color;
    }
  }
}

.selected-row {
  background:rgba(255, 255, 255, .3);
}