<mat-table [dataSource]="dataSource">
  <ng-container *ngFor="let column of columns; let i = index" [matColumnDef]="column">
    
    <mat-header-cell *matHeaderCellDef warrantResizeable (resized)="onResize($event)">
      <span> {{ column }} </span>
    </mat-header-cell>

    <mat-cell *matCellDef="let row" > {{ row[column] }}  </mat-cell>
    
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns" id="header-row-container"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns;" (mousedown)="mousedown(row)" (mouseover)="mouseover(row)" [ngStyle]="{'background-color': row.selected ? 'green' : 'transparent'}"
  
  ></mat-row>
  <!-- warrantSelectable (selected)="onSelected($event)" [selectableNodes]="['mat-row']" -->
</mat-table>