@import "../../assets/variables.scss";

.main {
  display: flex;
  height: 100%;

  .content {
    // display: inline-block;
    display: flex;
    background: $primary-bg-color;
    flex-grow: 1;
    height: 100%;
    overflow: auto;
  }

  .sidebar {
    overflow-x: auto;
    min-width: 300px;
    padding: 0px;
    background: $primary-bg-color;

    //  min-height: calc(100vh - 80px);
    min-height: 100vh;
    /* Todo :: calculate max height using scss calc */
    border-right: 1px solid $faded-border-color;
    width: 300px;
    float: left;
    height: 100%;
  }
}

mat-accordion {
  mat-panel-title,
  mat-list-option {
    color: $text-light-color;
  }
  mat-expansion-panel {
    background-color: $primary-bg-color;
    color: $text-disabled-color;
  }
}

@mixin sticky-headers {

}

::ng-deep {
  .mat-table {
    .mat-header-row {
      background-color: $dark-bg-color;
      position: sticky !important;
      top: 55px!important;
      z-index: 2;
    }

    .mat-header-cell:first-of-type,
    .mat-cell:first-of-type {
      text-indent: 1.2rem;
    }
  }
}

.content > .content-container {
  width:100%;
  height:100%;
  overflow: auto;
}

.tab-container {
  overflow: hidden;
  position: sticky;
  top: 0px;
  z-index: 101;
  background-color: $primary-bg-color;
  
  .tab {
    width:fit-content;
    opacity: 1;
    box-sizing: border-box;
    float:left;
    padding:1rem;
    color: $text-disabled-color;
    cursor: pointer;
  }
  
  .tab.active {
    color: white;
    background-color: $light-bg-color;
    border-bottom:3px solid $accent-color;
  }
}

