@import "../../assets/variables.scss";

.main {
  display: flex;
  height: 100%;

  .content {
    display: flex;
    background: $primary-bg-color;
    flex-grow: 1;
    height: 100%;
    overflow: scroll;
  }

  .sidebar {
    overflow-x: scroll;
    min-width: 300px;
    padding: 0px;
    background: $primary-bg-color;

    //  min-height: calc(100vh - 80px);
    min-height: 100vh;
    /* Todo :: calculate max height using scss calc */
    border-right: 1px solid $faded-border-color;
    width: 300px;
    float: left;
    height: 100%;
  }
}

mat-accordion {
  mat-panel-title,
  mat-list-option {
    color: $text-light-color;
  }
  mat-expansion-panel {
    background-color: $primary-bg-color;
    color: $text-disabled-color;
  }
}

::ng-deep .mat-tab-header,
::ng-deep .mat-table .mat-header-row {
  background-color: $dark-bg-color;
  position: sticky !important;
  top: 0;
  z-index: 2;
}

::ng-deep .mat-table .mat-header-row {
  top: 48px;
}
