<div class="main">

  <nav class="sidebar" warrantResizeable resizeHandleSize="30" (contextmenu)="openContextMenu($event)">

    <mat-accordion [multi]="true" *ngIf="connections">
      <div *ngFor="let connection of connections" (contextmenu)="openContextMenu($event, connection); $event.stopPropagation()">
        <mat-expansion-panel *ngFor="let database of connection.databases">
          
          <mat-expansion-panel-header class="d-panel-header">
            <mat-panel-title>
              {{ database.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
  
          <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let table of database.tables" [value]="table" (dblclick)="openTable(connection.config.host, database, table)">
              {{ table }}
            </mat-list-option>
          </mat-selection-list>
  
        </mat-expansion-panel>        
      </div>

    </mat-accordion>
  
  </nav>
  
  <div class="content">

    <mat-tab-group animationDuration="0ms">
      <mat-tab *ngFor="let source of dataSources" [label]="source.table">
        <ng-template matTabContent>
          <warrant-resizeable-table [columns]="source.columns" [dataSource]="source.results" (dataChanged)="OnDataChanged($event)">

          </warrant-resizeable-table>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
    
  </div>
</div>