<div class="main">

  <nav class="sidebar" warrantResizeable resizeHandleSize="30" (contextmenu)="openConnectionContextMenu($event)">

    <!-- <mat-form-field appearance="fill" class="w-100">
      <mat-select>
        <mat-option *ngFor="let datasource of dataSources" [value]="dataSource">
          {{ datasource.database }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

    <mat-accordion [multi]="true" *ngIf="connections">
      <div *ngFor="let connection of connections" (contextmenu)="openConnectionContextMenu($event, connection); $event.stopPropagation()">
        <mat-expansion-panel *ngFor="let database of connection.databases" [expanded]="openedDatabases.includes(database.name)">
          
          <mat-expansion-panel-header class="d-panel-header">
            <mat-panel-title>
              {{ database.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
  
          <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let table of database.tables" [value]="table" (dblclick)="openTable(connection.config.host, database.name, table)">
              {{ table }}
            </mat-list-option>
          </mat-selection-list>
  
        </mat-expansion-panel>        
      </div>
    </mat-accordion>

  </nav>
  
  <div class="content">

    <mat-tab-group *ngIf="activeDataSource" animationDuration="0" #tabs [selectedIndex]="activeDataSource.selectedTabIndex">
      <mat-tab *ngFor="let table of activeDataSource.tables" [label]="table.table" (contextmenu)="openTableContextMenu($event, table.table); $event.stopPropagation()">
        <!-- <ng-template matTabContent> -->
          <warrant-resizeable-table [columns]="table.columns" [dataSource]="table.results" (dataChanged)="OnDataChanged($event)">

          </warrant-resizeable-table>
        <!-- </ng-template> -->
      </mat-tab>
    </mat-tab-group>
    
  </div>
</div>