<mat-form-field appearance="fill">

  <input matInput [matAutocomplete]="auto" [formControl]="searchControl" />
  <mat-hint>{{ "Search.placeholder" | translate }}</mat-hint>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let data of filteredData | async" [value]="data.name">
      <span class="badge-container">
        <span class="badge badge-dark">
          {{ data.type }}
        </span>
      </span>
      <span>{{ data.name }}</span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
