<mat-form-field appearance="fill">

  <input matInput [matAutocomplete]="auto" [formControl]="searchControl" />
  <mat-hint>{{ "Search.placeholder" | translate }}</mat-hint>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectItem($event.option.value)" [displayWith]="displayOption">
    <mat-option *ngFor="let option of options | async" [value]="option">
      
      <span class="badge-container">
        <span class="badge badge-secondary">connection name?</span>
      </span>

      <span class="badge-container ml-5">
        <span class="badge badge-dark">
          {{ option.type }}
        </span>
      </span>
      <span>{{ option.name }}</span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
