@import "../../../../../assets/variables.scss";

::ng-deep .cdk-overlay-pane .mat-dialog-container {
  background-color: $dark-bg-color;
  color: $text-light-color !important;
  // color: #edeeef!important;
  width: 525px;
  height: 590px;

  .mat-tab-label {
    color: inherit;
  }
}

.mat-list-item {
  color: $text-light-color;
  // color:#edeeef
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-dialog-content {
  flex-grow: 1;
}
