
@import "../../../../../assets/variables.scss";


::ng-deep .decrease-panel .mat-dialog-container{
  background-color: $dark-bg-color;
  color: $light-text-color!important;
  // color: #edeeef!important;

  .mat-tab-label {
    color:inherit
  }
}

.mat-list-item {
  color:$light-text-color
  // color:#edeeef
}

:host {
  display:flex;
  flex-direction: column;
  height: 100%;
}

.mat-dialog-content {
  flex-grow: 1;
}
