@import "~@angular/material/theming";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/scss/bootstrap";
@import "material-design-icons/iconfont/material-icons.css";

@import "./variables.scss";

html,
body {
  margin: 0;
  padding: 0;

  font-family: -apple-system, Roboto, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;

  background: $primary-bg-color;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  color: $text-disabled-color;
}

/**
 * [CUSTOM THEME SETTINGS]
 */
$secondary-ideas: (
  1: #e8dab2,
  2: #dd6e42,
  3: #ffa500 // looks real slick in forms.,,,,,,,
);
@include mat-core();

$decrease-primary: (
  50: #97b8ff,
  100: #82aaff,
  200: #6d9cff,
  300: #588dff,
  400: #437fff,
  500: #2e71ff,
  600: #2966e6,
  700: #255acc,
  800: #204fb3,
  900: #1c4499,
  A100: #173980,
  A200: #122d66,
  A400: #0e224c,
  A700: #091733,
  contrast: (
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A700: white,
  ),
);

$decrease-secondary: (
  50: #8ca1ad,
  100: #748e9c,
  200: #5d7b8c,
  300: #46697b,
  400: #2f566b,
  500: #18435a,
  600: #163c51,
  700: #133648,
  800: #112f3f,
  900: #ff0000,
  A100: #ffffff,
  A200: #fff1e9,
  A400: #ffd1b6,
  A700: #ffc19c,
  contrast: (
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A700: white,
  ),
);

$primary-palette: mat-palette($decrease-primary);
$accent-palette: mat-palette($decrease-secondary);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
$app-theme: mat-dark-theme($primary-palette, $accent-palette);

@include angular-material-theme($app-theme);

/**
 * [FORM STYLES]
 */
.mat-form-field {
  padding: 0.5rem !important;
  width: 230px;
}

.mat-form-field.mat-focused .mat-form-field-suffix {
  color: $accent-color;
  @include transition;
}

.mat-form-field-appearance-fill .mat-form-field-flex,
.mat-select-panel-wrap .mat-option {
  background: $primary-bg-color;
}

.mat-select-panel {
  background: black;
}

.mat-select-panel .mat-option:hover,
.mat-select-panel .mat-option.mat-active,
.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background-color: $dark-bg-color;
}

.mat-form-field-label,
.mat-form-field-infix,
.mat-form-field-autofill-control,
.mat-input-element::placeholder,
.mat-hint {
  // color: $text-disabled-color !important;
}

.mat-form-field-underline {
  background-color: $accent-color;
  height:1px;
}

.mat-option,
.mat-option.mat-active,
.mat-select-value-text,
.mat-form-field,
.mat-input-element {
  color: $text-light-color !important;
}

.mat-button.mat-primary[disabled] {
  color: $text-disabled-color;
}

/**
 * [Basic transition]
 */
.transition {
  @include transition;
}

/**
 * [TYPOGRAPHY]
 */
.dec-subheading {
  font: 400 15px/24px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  margin: 0;
  padding: 0.25rem 0 0.25rem 1rem !important;
}

.d-panel-header .mat-expansion-indicator::after {
  color: $text-light-color;
}

.d-panel-header.mat-expanded .mat-expansion-indicator::after {
  color: $accent-color;
}

/**
 * [CONTEXT MENU]
 */
.context-menu {
  padding: 0px;
  position: absolute;
  width: 200px;
  list-style: none;
  color: $text-light-color;

  .context-menu-item {
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
    width: 100%;
    cursor: pointer;
    background-color: $light-bg-color;

    &:hover {
      background-color: #414a52;
    }
  }
}
/**
 * [SCROLLBAR]
 */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px $primary-bg-color;
  -webkit-box-shadow: inset 0 0 6px $primary-bg-color;
  background-color: $primary-bg-color;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: $primary-bg-color;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

::-webkit-scrollbar-thumb:active {
  background-color: $accent-color;
}

::-webkit-scrollbar-corner {
  background-color: $primary-bg-color;
}
