@import "~@angular/material/theming";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/scss/bootstrap";
@import "material-design-icons/iconfont/material-icons.css";

@import "./variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
}

/**
 * [CUSTOM THEME SETTINGS]
 */
$secondary-ideas: (
  1: #e8dab2,
  2: #dd6e42,
  3: #ffa500 // looks real slick in forms.,,
);
@include mat-core();

$decrease-primary: (
  50: #97b8ff,
  100: #82aaff,
  200: #6d9cff,
  300: #588dff,
  400: #437fff,
  500: #2e71ff,
  600: #2966e6,
  700: #255acc,
  800: #204fb3,
  900: #1c4499,
  A100: #173980,
  A200: #122d66,
  A400: #0e224c,
  A700: #091733,
  contrast: (
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A700: white,
  ),
);

$decrease-secondary: (
  50: #8ca1ad,
  100: #748e9c,
  200: #5d7b8c,
  300: #46697b,
  400: #2f566b,
  500: #18435a,
  600: #163c51,
  700: #133648,
  800: #112f3f,
  900: #0e2836,
  A100: #ffffff,
  A200: #fff1e9,
  A400: #ffd1b6,
  A700: #ffc19c,
  contrast: (
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A700: white,
  ),
);

$primary-palette: mat-palette($decrease-primary);
$accent-palette: mat-palette($decrease-secondary);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
$app-theme: mat-light-theme($primary-palette, $accent-palette);

@include angular-material-theme($app-theme);

/**
 * [FORM STYLES]
 */
.mat-form-field {
  padding: 0.5rem !important;
}

.mat-form-field.mat-focused .mat-form-field-suffix {
  color: $accent-color;
  @include transition;
}

.mat-form-field-appearance-fill .mat-form-field-flex,
.mat-select-panel-wrap .mat-option {
  background: $primary-bg-color;
}

.mat-select-panel .mat-option.mat-active,
.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background-color: rgba(0, 0, 0, 0.5);
}

.mat-form-field-label,
.mat-form-field-infix,
.mat-hint {
  color: $disabled-text-color;
}

.mat-form-field {
  color: $light-text-color;
}

/**
 * Basic transition
 */
.transition {
  @include transition;
}
