$primary-bg-color: #1f2227;
$dark-bg-color: #1a1d21;
$faded-border-color: rgba(255, 255, 255, 0.10);
$accent-color: #2e71ff;

$text-light-color: #e9e9eb;
$text-disabled-color: #616367;


@mixin transition {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}